/* General styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #FFFFFF;
  color: #444444;
  font-size: 16px;
  line-height: 1.5;
  overflow: scroll;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body.open {
  position: fixed;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit
}

img {
  border: none;
  vertical-align: middle;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  color: #000000;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #000000;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #000000;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000000;
}

/* Banner styles */

.banner {
  width: 100%;
  background-color: #FFD3A6;
  background-image: url(../img/circle1.svg);
  background-repeat: no-repeat;
  background-position: top -250px left -230px;
}

header {
  max-width: 1080px;
  position: relative;
  margin: 0 auto;
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 44px;
  object-fit: contain;
}

.logo img {
  max-width: 100%;
}

.nav_regular {
  display: none;
}

.nav_compact ul {
  padding-top: 4rem;
  line-height: 4rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  transform: translateY(-100vh);
  transition: transform .3s ease-in-out;
} 

.nav_compact ul.open {
  transform: translateY(0);
}

.nav_compact li {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  margin: 0 2.5rem;
  color: #000000;
  font-weight: 500;
  position: relative;
}

.nav_compact a {
  display: inline-block;
  width: 100%;
}

.active_nav_compact {
  color: rgba(0, 0, 0, 0.7);
}

.active_nav_compact::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 31px;
  height: 3px;
  background-color: #FF9500;
  border-radius: 2px;
}

.nav_regular ul {
  display: flex;
  align-items: center;
}

.nav_regular li {
  margin-left: 2.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  position: relative;
}

.nav_regular a:hover {
  color: #000000;
}

.active_nav_regular {
  color: #000000;
}

.active_nav_regular::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FF9500;
  border-radius: 2px;
}

/* Menu */

.menu_btn {
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu_burger {
  width: 26px;
  height: 3px;
  background-color: #333333;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.menu_burger::before, .menu_burger::after {
  position: absolute;
  content: '';
  width: 26px;
  height: 3px;
  background-color: #333333;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}

.menu_burger::before {
  transform: translateY(9px);
}

.menu_burger::after {
  transform: translateY(-9px);
}

/* Animations */

.menu_btn.open .menu_burger {
  background: transparent;
}

.menu_btn.open .menu_burger::before {
  transform: rotate(-45deg) translateY(0);
}

.menu_btn.open .menu_burger::after {
  transform: rotate(45deg) translateY(0);
}

/* Banner content */

.banner_box {
  margin: 0 auto;
  padding: 2rem 1.5rem 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/circle2.svg);
  background-repeat: no-repeat;
  background-position: bottom -100px left -80px;
}

.banner_left {
  margin-bottom: 1.5rem;
}

.banner_left p {
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.7);
}

.download_btn {
  display: block;
  width: 132px;
  height: 40px;
  background-image: url(../img/download.svg);
  background-repeat: no-repeat;
}

.testflight {
  padding-top: 0.5rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8)
}

.testflight a {
  color: #000000;
  border-bottom: 1px solid;
}

.testflight a:hover {
  opacity: 0.8;
}

.banner_image {
  max-width: 100%;
}

@media (min-width: 768px) {
  .menu_btn {
    display: none;
  }

  .nav_regular {
    display: block;
  }

  .nav_compact {
    display: none;
  }

  .banner {
    background-position: top -180px left -160px;
  }

  .banner_box {
    max-width: 1080px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-position: bottom -80px left 10%;
    padding: 4rem 1.5rem 6rem 1.5rem;
  }

  .banner_left {
    max-width: 50%;
    margin-bottom: 0;
  }

  .banner h1 {
    font-size: 3.5rem;
  }

  .banner_left p {
    margin: 0.5rem 0 2.5rem 0;
  }

  .banner_image {
    max-width: 48%;
  }
}

/* Section styles */

section {
  width: 100%;
}

.feature_box {
  max-width: 1080px;
  margin: 0 auto;
  padding: 3rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature_img {
  max-width: 100%;
  object-fit: contain;
  margin-top: 2rem;
}

.feature_img3 {
  margin-bottom: 3rem;
}

.feature_content h2 {
  display: inline-block;
  height: 2.875rem;
  border-bottom: 0.875rem solid #FF9500;
}

.feature_content p {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 1.125rem;
}

.link {
  font-weight: bolder;
  text-decoration: underline;
}

.link:hover {
  opacity: 80%;
}

.feature_content li {
  color: #000000;
  padding-left: 2.25rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  background-image: url(../img/f1.svg);
  background-size: fit-content;
  background-repeat: no-repeat;
  background-position: top left;
  margin-top: 1rem;
}

.feature_content .li2 {
  background-image: url(../img/f2.svg);
}

.feature_content .li3 {
  background-image: url(../img/f3.svg);
}

.feature_content .li4 {
  background-image: url(../img/f4.svg);
}

.feature_content .li5 {
  background-image: url(../img/f5.svg);
}

.feature_content .li6 {
  background-image: url(../img/f6.svg);
}

.feature_content .li7 {
  background-image: url(../img/f7.svg);
}

.feature_content .li8 {
  background-image: url(../img/f8.svg);
}

.feature_content .li9 {
  background-image: url(../img/f9.svg);
}

@media (min-width: 768px) {
  .feature_box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4rem 1.5rem;
  }

  .feature_content {
    max-width: 50%;
  }

  .feature_img {
    margin-top: 0;
    max-width: 43%;
  }

  .feature_content2 {
    order: 1;
  }

  .feature_img3 {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .feature_content {
    max-width: 47%;
  }

  .feature_img {
    max-width: fit-content;
  }
}

/* More features styles */

.more_features {
  background-color: #f9f9f9;
}

.more_features h2 {
  text-align: center;
  line-height: 9rem;
}

.more_box {
  max-width: 1080px;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.more_box article {
  max-width: 100%;
}

.more_box h4 {
  margin:  0.75rem 0 0.25rem 0 ;
}

.more_box p {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .more_box article {
    max-width: 46%;
  }

  .more_box {
    padding-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .more_box article {
    max-width: 31%;
  }
}

/* Footer styles */

footer {
  width: 100%;
  background-color: #000E2F;
}

.footer_box {
  margin: auto;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
}

.footer-img {
  max-width: 100%;
  margin: 1.5rem;
}

footer ul {
  margin-bottom: 1rem;
}

footer li {
  color: rgba(255, 255, 255, 0.65);
  padding: 0.5rem 1.5rem;
  text-align: center;
}

footer p {
  font-size: 0.75rem;
  line-height: 4rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

footer a {
  color: white;
  border-bottom: 1px solid;
}

footer a:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  footer li {
    display: inline;
  }

  .footer_nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000000;
    color: #C7C7CC;
  }

  h1, h2, h3, h4 {
    color: #FFFFFF;
  }

  .banner {
    background-color: #002980;
  }

  .menu_burger, 
  .menu_burger::before,
  .menu_burger::after {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .nav_compact ul {
    background-color: black;
  }

  .nav_compact li {
    color: white;
    border-color: rgba(255, 255, 255, 0.2);
  }

  .active_nav_compact {
    color: rgba(255, 255, 255, 0.8)
  }

  .nav_regular a:hover {
    color: white;
  }

  .active_nav_regular {
    color: white;
  }

  .banner_left p {
    color: rgba(255, 255, 255, 0.8);
  }

  .download_btn {
    background-image: url(../img/dark/download.svg);
  }

  .testflight {
    color: rgba(255, 255, 255, 0.8);
  }

  .testflight a {
    color: white;
  }

  .feature_content h2 {
    border-bottom: 0.875rem solid #995900;
  }

  .feature_content li {
    color: white;
    background-image: url(../img/dark/f1.svg);
  }

   .feature_content .li2 {
    background-image: url(../img/dark/f2.svg);
  }

  .feature_content .li3 {
    background-image: url(../img/dark/f3.svg);
  }
  
  .feature_content .li4 {
    background-image: url(../img/dark/f4.svg);
  }
  
  .feature_content .li5 {
    background-image: url(../img/dark/f5.svg);
  }
  
  .feature_content .li6 {
    background-image: url(../img/dark/f6.svg);
  }
  
  .feature_content .li7 {
    background-image: url(../img/dark/f7.svg);
  }
  
  .feature_content .li8 {
    background-image: url(../img/dark/f8.svg);
  }
  
  .feature_content .li9 {
    background-image: url(../img/dark/f9.svg);
  }

  .more_features {
    background-color: #1C1C1E;
  }
}